.show{
    display: flex;
}

.hide{
    display: none;
}

.btn{
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover{
    background-color: palevioletred;
    color: white;
    
}

.allbtn{
    background-color: palevioletred;
    color: white; 
}

.completebtn{
    background-color: palevioletred;
    color: white; 
}

.activebtn{
    background-color: palevioletred;
    color: white; 
}

.Clear{
    float: right;
    margin: auto;
    margin-right: 0px;
}

div{
    margin: auto;
}

.centerbtn{
    margin:auto;
    display: flex;
}

.footer{
    display: flex;
    width: 772px;
    border: 1px solid gainsboro;
    border-top: none;
    height: 50px;
    background-color: white;
}

.floatleft{
    float: left;
    margin-left: 0px;
}