*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:auto;
  padding:15px;
}

.todos{
  font-size: 30px;
  color: palevioletred;
  text-align: center;
  opacity: 0.3;
  padding: 30px;
}

.todosText{
  font-size: 100px;
  font-weight: 100;
}

.inputBox{
  font-size: 30px;
}

input{
  padding: 20px;
  width: 700px;
  font-size: 30px;
  
  border-style: none;
}

::placeholder{
  opacity: 0.6;
  margin-right: 90px;
}

/* input:focus{
  outline: none;
} */

.Input-checked{
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
  max-width: 772px;
  border: 1px solid gainsboro;
  border-style: none solid solid solid;
  padding: 20px;
  display: flex;
  background-color: white;
 
}

.Input-unchecked{
  opacity: 1;
  text-decoration: none;
  max-width: 772px;
  border: 1px solid gainsboro;
  border-style: none solid solid solid;
  padding: 20px;
  display: flex;
  background-color: white;
}

.checkBox{
  opacity: 1;
}

img{
  margin-right: 20px;
  cursor: pointer;
}

.close{
  float: right;
  margin: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto;
}

.inputBox{
  width: 772px;
}

.Input-show{
  display: inline-block;
}

.Input-hide{
  display: none;
}

.itemList{
  float: left;
  margin: auto;
  width: 100%;
  font-size: 25px;
}

.linethrough{
  text-decoration: line-through;
}

.editInputList{
  padding: 0;
}

.editInputList:focus{
  outline: none;
}

body{
  background-color: #f5f5f5
}

.checkImg{
}